.App {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: 1rem auto;
}

.App__counters {
  display: flex;
  justify-content: space-between;
}
.App__buttons {
  display: flex;
  justify-content: space-evenly;
}
